# Challenge 1 - Tic Tac Toe

In this lab you will perform deep learning analysis on a dataset of playing [Tic Tac Toe](https://en.wikipedia.org/wiki/Tic-tac-toe).

There are 9 grids in Tic Tac Toe that are coded as the following picture shows:

![Tic Tac Toe Grids](tttboard.jpg)

In the first 9 columns of the dataset you can find which marks (`x` or `o`) exist in the grids. If there is no mark in a certain grid, it is labeled as `b`. The last column is `class` which tells you whether Player X (who always moves first in Tic Tac Toe) wins in this configuration. Note that when `class` has the value `False`, it means either Player O wins the game or it ends up as a draw.

Follow the steps suggested below to conduct a neural network analysis using Tensorflow and Keras. You will build a deep learning model to predict whether Player X wins the game or not.

## Step 1: Data Engineering

This dataset is almost in the ready-to-use state so you do not need to worry about missing values and so on. Still, some simple data engineering is needed.

1. Read `tic-tac-toe.csv` into a dataframe.
1. Inspect the dataset. Determine if the dataset is reliable by eyeballing the data.
1. Convert the categorical values to numeric in all columns.
1. Separate the inputs and output.
1. Normalize the input data.

In [1]:
# your code here
import pandas as pd
import numpy as np

data = pd.read_csv('tic-tac-toe.csv')
display(data.shape)
data.head()

(958, 10)

  TL TM TR ML MM MR BL BM BR  class
0  x  x  x  x  o  o  x  o  o   True
1  x  x  x  x  o  o  o  x  o   True
2  x  x  x  x  o  o  o  o  x   True
3  x  x  x  x  o  o  o  b  b   True
4  x  x  x  x  o  o  b  o  b   True

In [2]:
display(data.isna().sum())
for col in list(data.columns):
    print(data[col].value_counts(dropna=False))

TL       0
TM       0
TR       0
ML       0
MM       0
MR       0
BL       0
BM       0
BR       0
class    0
dtype: int64

x    418
o    335
b    205
Name: TL, dtype: int64
x    378
o    330
b    250
Name: TM, dtype: int64
x    418
o    335
b    205
Name: TR, dtype: int64
x    378
o    330
b    250
Name: ML, dtype: int64
x    458
o    340
b    160
Name: MM, dtype: int64
x    378
o    330
b    250
Name: MR, dtype: int64
x    418
o    335
b    205
Name: BL, dtype: int64
x    378
o    330
b    250
Name: BM, dtype: int64
x    418
o    335
b    205
Name: BR, dtype: int64
True     626
False    332
Name: class, dtype: int64

In [3]:
# replace all categoricals with pre-scaled numericals

data = data.replace({False: 0, True: 1, 'x': 0, 'o': 0.5, 'b': 1})
display(data.dtypes)
data

TL       float64
TM       float64
TR       float64
ML       float64
MM       float64
MR       float64
BL       float64
BM       float64
BR       float64
class      int64
dtype: object

      TL   TM   TR   ML   MM   MR   BL   BM   BR  class
0    0.0  0.0  0.0  0.0  0.5  0.5  0.0  0.5  0.5      1
1    0.0  0.0  0.0  0.0  0.5  0.5  0.5  0.0  0.5      1
2    0.0  0.0  0.0  0.0  0.5  0.5  0.5  0.5  0.0      1
3    0.0  0.0  0.0  0.0  0.5  0.5  0.5  1.0  1.0      1
4    0.0  0.0  0.0  0.0  0.5  0.5  1.0  0.5  1.0      1
..   ...  ...  ...  ...  ...  ...  ...  ...  ...    ...
953  0.5  0.0  0.0  0.0  0.5  0.5  0.5  0.0  0.0      0
954  0.5  0.0  0.5  0.0  0.0  0.5  0.0  0.5  0.0      0
955  0.5  0.0  0.5  0.0  0.5  0.0  0.0  0.5  0.0      0
956  0.5  0.0  0.5  0.5  0.0  0.0  0.0  0.5  0.0      0
957  0.5  0.5  0.0  0.0  0.0  0.5  0.5  0.0  0.0      0

[958 rows x 10 columns]

In [4]:
y = data['class']
X = data.drop('class', axis = 1)
X.head()

    TL   TM   TR   ML   MM   MR   BL   BM   BR
0  0.0  0.0  0.0  0.0  0.5  0.5  0.0  0.5  0.5
1  0.0  0.0  0.0  0.0  0.5  0.5  0.5  0.0  0.5
2  0.0  0.0  0.0  0.0  0.5  0.5  0.5  0.5  0.0
3  0.0  0.0  0.0  0.0  0.5  0.5  0.5  1.0  1.0
4  0.0  0.0  0.0  0.0  0.5  0.5  1.0  0.5  1.0

## Step 2: Build Neural Network

To build the neural network, you can refer to your own codes you wrote while following the [Deep Learning with Python, TensorFlow, and Keras tutorial](https://www.youtube.com/watch?v=wQ8BIBpya2k) in the lesson. It's pretty similar to what you will be doing in this lab.

1. Split the training and test data.
1. Create a `Sequential` model.
1. Add several layers to your model. Make sure you use ReLU as the activation function for the middle layers. Use Softmax for the output layer because each output has a single lable and all the label probabilities add up to 1.
1. Compile the model using `adam` as the optimizer and `sparse_categorical_crossentropy` as the loss function. For metrics, use `accuracy` for now.
1. Fit the training data.
1. Evaluate your neural network model with the test data.
1. Save your model as `tic-tac-toe.model`.

In [5]:
# your code here

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y)
X_train.shape

(718, 9)

In [22]:
from sklearn.datasets import fetch_openml
from sklearn.exceptions import ConvergenceWarning
from sklearn.neural_network import MLPClassifier

nn = MLPClassifier(hidden_layer_sizes= (50,50), solver='sgd', max_iter=10000, random_state=1)

In [23]:
%%time
nn.fit(X_train, y_train)

print("Training set score: %f" % nn.score(X_train, y_train))
print("Test set score: %f" % nn.score(X_test, y_test))

Training set score: 0.983287
Test set score: 0.895833
CPU times: total: 41.4 s
Wall time: 10.8 s

## Step 3: Make Predictions

Now load your saved model and use it to make predictions on a few random rows in the test dataset. Check if the predictions are correct.

In [ ]:
# your code here

In [19]:
predictions = nn.predict(X_test)
predictions

array([0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1,
       1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0],
      dtype=int64)

In [25]:
np.array(y_test)

array([0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1,
       1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1,
       1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0],
      dtype=int64)

In [26]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(predictions,y_test))
rmse

0.3227486121839514

## Step 4: Improve Your Model

Did your model achieve low loss (<0.1) and high accuracy (>0.95)? If not, try to improve your model.

But how? There are so many things you can play with in Tensorflow and in the next challenge you'll learn about these things. But in this challenge, let's just do a few things to see if they will help.

* Add more layers to your model. If the data are complex you need more layers. But don't use more layers than you need. If adding more layers does not improve the model performance you don't need additional layers.
* Adjust the learning rate when you compile the model. This means you will create a custom `tf.keras.optimizers.Adam` instance where you specify the learning rate you want. Then pass the instance to `model.compile` as the optimizer.
    * `tf.keras.optimizers.Adam` [reference](https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/Adam).
    * Don't worry if you don't understand what the learning rate does. You'll learn about it in the next challenge.
* Adjust the number of epochs when you fit the training data to the model. Your model performance continues to improve as you train more epochs. But eventually it will reach the ceiling and the performance will stay the same.

In [28]:
%%time
nn2 = MLPClassifier(hidden_layer_sizes= (50,50,50,50), solver='sgd', max_iter=10000, random_state=1)

nn2.fit(X_train, y_train)

print("Training set score: %f" % nn2.score(X_train, y_train))
print("Test set score: %f" % nn2.score(X_test, y_test))

# adding more layers did not improve the model, perhaps it did not converge

Training set score: 0.658774
Test set score: 0.637500
CPU times: total: 1.89 s
Wall time: 506 ms

In [32]:
%%time
nn3 = MLPClassifier(hidden_layer_sizes= (10,10,10,10), solver='sgd', max_iter=10000, random_state=1)

nn3.fit(X_train, y_train)

print("Training set score: %f" % nn3.score(X_train, y_train))
print("Test set score: %f" % nn3.score(X_test, y_test))

# adding more smaller layers did not improve the model, perhaps it did not converge

Training set score: 0.658774
Test set score: 0.637500
CPU times: total: 203 ms
Wall time: 158 ms

In [29]:
%%time
nn4 = MLPClassifier(hidden_layer_sizes= (50,50), solver='adam', max_iter=10000, random_state=1)

nn4.fit(X_train, y_train)

print("Training set score: %f" % nn4.score(X_train, y_train))
print("Test set score: %f" % nn4.score(X_test, y_test))

# changing solver to adam vastly improved the model

Training set score: 1.000000
Test set score: 0.970833
CPU times: total: 5.08 s
Wall time: 1.38 s

**Which approach(es) did you find helpful to improve your model performance?**

In [ ]:
# your answer here